<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Charts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/charts.css">
</head>
<body>
    <div class="wrapper">
        <div class="patient">
            <div class="chart">
                <p>Accuracy</p>
            </div>

            <div class="chart">
                <p>Speed Ratio</p>
            </div>
            <p>Patient 1</p>
        </div>
        <div class="patient">
            <div class="chart">
                <p>Accuracy</p>
            </div>

            <div class="chart">
                <p>Speed Ratio</p>
            </div>
            <p>Patient 2</p>
        </div>
        <div class="patient">
            <div class="chart">
                <p>Accuracy</p>
            </div>

            <div class="chart">
                <p>Speed Ratio</p>
            </div>
            <p>Patient 3</p>
        </div>
        <div class="patient">
            <div class="chart">
                <p>Accuracy</p>
            </div>

            <div class="chart">
                <p>Speed Ratio</p>
            </div>
            <p>Patient 4</p>
        </div>
        <div class="patient">
            <div class="chart">
                <p>Accuracy</p>
            </div>

            <div class="chart">
                <p>Speed Ratio</p>
            </div>
            <p>Patient 5</p>
        </div>
        <div class="patient">
            <div class="chart">
                <p>Accuracy</p>
            </div>

            <div class="chart">
                <p>Speed Ratio</p>
            </div>
            <p>Patient 6</p>
        </div>
        <div class="patient">
            <div class="chart">
                <p>Accuracy</p>
            </div>

            <div class="chart">
                <p>Speed Ratio</p>
            </div>
            <p>Patient 7</p>
        </div>
        <div class="patient">
            <div class="chart">
                <p>Accuracy</p>
            </div>

            <div class="chart">
                <p>Speed Ratio</p>
            </div>
            <p>Patient 8</p>
        </div>
        <div class="patient">
            <div class="chart">
                <p>Accuracy</p>
            </div>

            <div class="chart">
                <p>Speed Ratio</p>
            </div>
            <p>Patient 9</p>
        </div>

    </div>

</body>
</html>